[submodule "Pulsarion/vender/glfw"]
	path = Pulsarion/vender/glfw
	url = https://github.com/HW9636/glfw
[submodule "Pulsarion/vender/spdlog"]
	path = Pulsarion/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "tests/stfcpp"]
	path = tests/stfcpp
	url = https://github.com/HW9636/stfcpp
[submodule "Pulsarion/vender/imgui/imgui"]
	path = Pulsarion/vender/imgui/imgui
	url = https://github.com/ocornut/imgui
